body {background-color: Lavender; padding: 20px;}
/*表格边框*/
table,tr,td,th
  {
  border: 1px solid black;
  border-collapse:collapse;
  }
/*表格宽度*/
  table
  {
  width:80%;
  }
/*表格文本对齐*/
  td
  {
  text-align:center;
  }
/*表格内容和边框的距离*/
  td
  {
  padding:5px;
  }
/*设置标题行的背景颜色和字体色*/
  th
  {
  background-color:Lightcyan;
  color:DarkSlateGrey;
  }
/*设置内容行的背景色和字体颜色*/
  tr
  {
  background-color:LavenderBlush;
  color:Indigo;
  }